#page-orphanages {
  width: 100%;
  height: 100%;

  display: flex;
}
aside {
  width: clamp(24rem, 25vw, 44rem);
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  padding: clamp(3rem, 5vw, 8rem); /* soma das caixas (conteudo + caixa)*/

  display: flex;
  flex-direction: column; /*alinha os elementos em coluna*/
  justify-content: space-between;
}
/*img animation*/
.orphanages-img {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  /*Animação da imagem */
  @keyframes flash {
    0% {
    }
    50% {
      padding: 20px 25px;
    }
    100% {
    }
  } 
  
aside h2{
    margin-top: 6.4rem;
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif;

}
aside p{
    margin-top: 2.4rem;
    font: 400 1.6rem/1.5 'Nunito', sans-serif;
}
aside footer p{
    margin-top: .8rem;
}

#mapid{
    width: 100%;
    height: 100%;

    animation-delay:200ms;
}

/*button*/
a.create-orphanage{
    position: absolute;
    right: 4rem;
    bottom: 4rem;

    z-index:1000;

    width: 6.4rem;
    height: 6.4rem;
    background: #15C3D6;
    border: 0;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms;
}

a.create-orphanage:hover{
    background: #17D6EB;
}

/*icon */
.leaflet-popup-content-wrapper{
    background: rgba(255,255,255,0.8);
    position: absolute;
    
    width:269px;
    height: 50px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
}

.leaflet-popup-content{
    color: #0089A5;
    font: 800 2rem/1 'Nunito', sans-serif;
    margin: .8rem 1.2rem;
    
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.leaflet-popup-content a{
  width: 3rem;
  height: 3rem;
  background-color: #15C3D6;
  box-shadow: 17.2828px 27.65px 41.48px rgba(23,142,166,0.16);/*sombreado*/
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
}

.leaflet-popup-content a:hover{
  background-color: #17D6EB;
}

.leaflet-popup-tip{
  display: none;
}

.leaflet-container{
  font: 700 2rem/1 'Nunito', sans-serif;
  
 }

